.accordion-com {
  max-width: 1318px;
  height: 96px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #545454;
  border-bottom: 1px solid transparent;
  padding-top: 30px;
  cursor: pointer;
}
.accordion-com > .accordion_com_content {
  width: 100%;
  height: 34px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}
.accordion-com > .accordion_com_content > h1 {
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  font-family: Sansation;
  font-weight: 400;
  font-size: 28px;
  line-height: 31.34px;
  letter-spacing: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accordion-com > .accordion_com_content > p {
  color: white;
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  cursor: text;
}
.accordion-com > .accordion_com_content > div {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.accordion-com > .accordion_com_content > div h1, .accordion-com > .accordion_com_content > div p, .accordion-com > .accordion_com_content > div h3, .accordion-com > .accordion_com_content > div ul, .accordion-com > .accordion_com_content > div ol {
  cursor: text;
}
.accordion-com > .accordion_com_content img {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.active-info {
  opacity: 1 !important;
  z-index: 1 !important;
  font-family: Sansation;
  font-size: 18px !important;
}

.active-content {
  height: 192px !important;
}

.active-com {
  padding: 30px 0 !important;
}

.ul-box4 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  list-style-type: disc;
  margin-left: 16px;
}

.ol-box4 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  list-style-type: decimal;
  margin-left: 18px;
}
.ol-box4 a {
  text-decoration: underline;
}

.span-box4-1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.box4-info3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.box4-info3 > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.box4-info3 > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-info3 > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  padding-bottom: 105px;
}

.line-545454 {
  background-color: #545454;
  min-height: 1px;
  width: 100%;
}

.box1-main {
  height: 701px;
  width: 100%;
}
.box1-main > header {
  height: 55px;
  width: 100%;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99999;
}
.box1-main > header > .nav-bar {
  display: flex;
  align-items: center;
  max-width: 1318px;
  width: 100%;
  margin: 0 auto;
  height: 55px;
}
.box1-main > header > .nav-bar > div {
  display: flex;
  gap: 40px;
}
.box1-main > header > .nav-bar > div > a {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: all 0.1s ease-out;
  color: #545454;
}
.box1-main > header > .nav-bar > div > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.box1-main > header > .nav-bar > img {
  margin-left: 202px;
  width: 177.4241943359px;
  height: 38.8515930176px;
}
.box1-main > header > .nav-bar > a {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 424px;
}

.box2-main {
  height: 628px;
  max-width: 1318px;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.box2-main > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box2-main > div {
  display: flex;
  gap: 40px;
}
.box2-main > div > div {
  border-radius: 20px;
  height: 468px;
}
.box2-main > div > .bg-box2-1 {
  width: 710px;
  background: url("../assets/icon/bg-box2-1.svg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
.box2-main > div > .bg-box2-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-top: 24px;
}
.box2-main > div > .bg-box2-1 > div > p {
  width: 472px;
  text-align: center;
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
}
.box2-main > div > .bg-box2-2 {
  width: 568px;
  background: url("../assets/icon/bg-box2-2.svg") center/cover no-repeat;
  position: relative;
}
.box2-main > div > .bg-box2-2 > img {
  width: 344px;
  height: 543px;
  top: -75px;
  left: 112px;
  position: absolute;
}

.box3-main {
  height: 566px;
  max-width: 1318px;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box3-main > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(232.39deg, #ad8153 30.05%, #e2b36c 40.23%, #fdecd6 50.4%, #dcac64 60.57%, #af8352 70.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box3-main > div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.box3-main > div > .bg-box3-1 {
  background: url("../assets/icon/bg-box3-1.svg") center/cover no-repeat;
  width: 591px;
  height: 470px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3-main > div > .bg-box3-1 > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: start;
  width: 431px;
  height: 385px;
}
.box3-main > div > .bg-box3-1 > div > img {
  width: 81px;
  height: 91px;
}
.box3-main > div > .bg-box3-1 > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.box3-main > div > .bg-box3-1 > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box3-main > div > .bg-box3-1 > div > div > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box3-main > div > .bg-box3-1 > div > div > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box3-main > div > .bg-box3-2 {
  background: url("../assets/icon/bg-box3-2.svg") center/cover no-repeat;
  width: 687px;
  height: 357px;
  overflow: hidden;
}

.box4-main {
  max-width: 1318px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box4-main > .header-box4 {
  width: 1094px;
  height: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.box4-main > .header-box4 > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(262.51deg, #ad8153 -26.06%, #e2b36c 4.03%, #fdecd6 34.11%, #dcac64 64.19%, #af8352 94.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .header-box4 > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.box4-main > .header-box4 > p > span {
  font-family: Sansation;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.box4-main > .content-top-box4_1 {
  gap: 20px !important;
  max-width: 1318px;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 {
  height: 55px;
  display: flex;
  gap: 20px;
  width: 100%;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > div {
  width: 203px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > div > h1 {
  font-family: Sansation;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #545454;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > div::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  padding: 2px;
  z-index: -1;
  transition: all 0.6s ease-in;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > .active-content-navigate-box4_1 {
  position: relative;
  transition: all 0.2s ease-in;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > .active-content-navigate-box4_1 > h1 {
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  transition: all 0.2s ease-in;
}
.box4-main > .content-top-box4_1 > .content-navigate-box4_1 > .active-content-navigate-box4_1::before {
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  transition: all 0.2s ease-in;
}
.box4-main > .content-top-box4 {
  width: 1318px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.box4-main > .content-top-box4 > .content-top-box4-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 19px 20px;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div {
  width: 649px;
  height: 265px;
  border-radius: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-title > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-title > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-price {
  font-family: Sansation;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(263.04deg, #ad8153 0%, #e2b36c 24.5%, #fdecd6 49%, #dcac64 73.5%, #af8352 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-sub-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-sub-text > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > div > .content-top-box4-1-com-sub-text > p > span {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(268.33deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > .content-top-box4-1-com-1 {
  background: url("../assets/icon/box4-top1.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > .content-top-box4-1-com-2 {
  background: url("../assets/icon/box4-top2.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > .content-top-box4-1-com-3 {
  background: url("../assets/icon/box4-top3.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4-1 > .content-top-box4-1-com-4 {
  background: url("../assets/icon/box4-top4.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-1 {
  background: url("../assets/icon/content-top-box4_1-2-content-1.svg") center/cover no-repeat;
  width: 100%;
  height: 170px;
  display: flex;
  gap: 63px;
  padding: 0 29px;
  padding-top: 45px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-1 > div {
  width: 102px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-1 > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 106px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-1 > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 {
  width: 100%;
  height: 170px;
  display: flex;
  gap: 20px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > div {
  width: 649px;
  height: 170px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > div > div {
  width: 140px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > div > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > div > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > .content-top-box4_1-1-com-2-1 {
  background: url("../assets/icon/content-top-box4_1-2-content-2.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4_1-1 > .content-top-box4_1-1-com-2 > .content-top-box4_1-1-com-2-2 {
  background: url("../assets/icon/content-top-box4_1-2-content-3.svg") center/cover no-repeat;
}
.box4-main > .content-top-box4 > .content-top-box4-2 {
  width: 1318px;
  height: 480px;
  border-radius: 20px;
  background: url("../assets/icon/box4-top5.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div {
  width: 1161px;
  height: 379.9357299805px;
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-header {
  width: 922px;
  display: flex;
  justify-content: space-between;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-header > div {
  width: 336px;
  height: 105px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-header > div > h3 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-header > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(263.04deg, #ad8153 0%, #e2b36c 24.5%, #fdecd6 49%, #dcac64 73.5%, #af8352 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-header > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content {
  width: 100%;
  height: 115px;
  display: flex;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content .content-top-box4-2-content-1 {
  width: 171px;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content .content-top-box4-2-content-2 {
  width: 236px;
  margin-left: 126px;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content .content-top-box4-2-content-3 {
  width: 214px;
  margin-left: 104px;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > .content-top-box4-2-content .content-top-box4-2-content-4 {
  width: 176px;
  margin-left: 134px;
}
.box4-main > .content-top-box4 > .content-top-box4-2 > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 725px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 {
  width: 1318px;
  height: 480px;
  border-radius: 20px;
  background: url("../assets/icon/content-top-box4_1-2-content-4.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div {
  width: 1161px;
  height: 379.9357299805px;
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-header {
  width: 922px;
  display: flex;
  justify-content: space-between;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-header > div {
  width: 336px;
  height: 105px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-header > div > h3 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-header > div > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(263.04deg, #ad8153 0%, #e2b36c 24.5%, #fdecd6 49%, #dcac64 73.5%, #af8352 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-header > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content {
  width: 100%;
  height: 115px;
  display: flex;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content .content-top-box4-2-content-1 {
  width: 171px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content .content-top-box4-2-content-2 {
  width: 236px;
  margin-left: 126px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content .content-top-box4-2-content-3 {
  width: 214px;
  margin-left: 104px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > .content-top-box4-2-content .content-top-box4-2-content-4 {
  width: 176px;
  margin-left: 134px;
}
.box4-main > .content-top-box4 > .content-top-box4_1-2 > div > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 725px;
}
.box4-main > .content-bottom-box4 {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box5-main {
  overflow: hidden;
  background-color: #0c0c0c;
  width: 1318px;
  height: 779px;
  border-radius: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.box5-main > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(264.81deg, #ad8153 6.89%, #e2b36c 28.54%, #fdecd6 50.19%, #dcac64 71.84%, #af8352 93.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box5-main > .content-box5 {
  width: 1197px;
  margin-top: 71px;
  display: flex;
  gap: 100px;
}
.box5-main > .content-box5 > .form-Box5 {
  display: flex;
  flex-direction: column;
  width: 420px;
  gap: 30px;
}
.box5-main > .content-box5 > .form-Box5 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box5-main > .content-box5 > .form-Box5 > div > .input-box5 {
  position: relative;
  width: 420px;
  height: 60px;
}
.box5-main > .content-box5 > .form-Box5 > div > .input-box5 > input {
  width: 420px;
  height: 60px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  background-color: #0c0c0c;
  padding: 20px;
  outline: none;
}
.box5-main > .content-box5 > .form-Box5 > div > .input-box5 > textarea {
  min-width: 420px;
  min-height: 150px;
  max-width: 420px;
  max-height: 150px;
  position: absolute;
  z-index: 2;
  background-color: #0c0c0c;
  border-radius: 10px;
  padding: 20px;
  outline: none;
}
.box5-main > .content-box5 > .form-Box5 > div > .textarea-box5 {
  width: 420px;
  height: 150px;
}
.box5-main > .content-box5 > .form-Box5 > div > .input-box5::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  padding: 2px;
  z-index: 1;
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
}
.box5-main > .content-box5 > .form-Box5 > span > button {
  width: 420px;
  height: 60px;
  border-radius: 10px;
  background-color: #111111;
  color: #545454;
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.box5-main > .content-box5 > .form-Box5 > span > .active-button-box5 {
  background: linear-gradient(270deg, #ad8153 0%, #e2b36c 25%, #fdecd6 50%, #dcac64 75%, #af8352 100%);
  transition: all 0.7s ease-out;
  color: #000;
}
.box5-main > .content-box5 > .form-Box5 > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #545454;
}
.box5-main > .content-box5 > div {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  position: relative;
}
.box5-main > .content-box5 > div > .info-contact-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 141px;
}
.box5-main > .content-box5 > div > .info-contact-1 > h1 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  background: linear-gradient(259deg, #ad8153 33.33%, #e2b36c 49.25%, #ffe1bb 65.17%, #dcac64 81.09%, #af8352 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box5-main > .content-box5 > div > .info-contact-1 > h3 {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.box5-main > .content-box5 > div > img {
  position: absolute;
  min-width: 838px;
  min-height: 288px;
  top: 187px;
  left: -100px;
}
.box5-main > .footer-box5 {
  margin: 0 auto;
  margin-top: 59px;
  display: flex;
  max-width: 1197px;
  width: 100%;
  justify-content: start;
  align-items: center;
}
.box5-main > .footer-box5 > p {
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #545454;
  margin-left: 389px;
  width: 255px;
}
.box5-main > .footer-box5 > a {
  width: 190px;
  font-family: Sansation;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 300px;
}

.box5-main::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 429px;
  height: 645px;
  background: url("../assets/icon/bg-box5.svg") top/cover no-repeat;
}/*# sourceMappingURL=globalStyle.css.map */